In [18]:
import os

import numpy as np
import pandas as pd

In [19]:
data_dir = './data_stocks'
stocks_csv_files = [os.path.join(data_dir, x) for x in os.listdir(data_dir) if x.endswith('.L.csv')]
BARC = os.path.join(data_dir, 'BARC.L.csv')
barc_df = pd.read_csv(BARC)

In [20]:
barc_df.head()

,Date,High,Low,Open,Close,Volume,Adj Close
0,2014-01-02,274.651001,268.350006,273.000000,271.049988,30563664.0,235.943085
1,2014-01-03,273.910004,270.399994,271.250000,272.850006,23678963.0,237.510010
2,2014-01-06,278.666992,271.200012,271.549988,277.500000,47008835.0,241.557693
3,2014-01-07,282.778015,275.000000,276.950012,280.950012,44374624.0,244.560913
4,2014-01-08,285.899994,281.250000,282.350006,283.700012,45068534.0,246.954666

In [41]:
def get_data(code):
    return pd.read_csv(data_dir + '/' + code + '.csv')

In [21]:
def highest_close_price(df):
    return df.loc[df['Close'].idxmax(), 'Close']
highest_close_price(barc_df)

296.5

In [22]:
def highest_close_date(df):
    return df.loc[df['Close'].idxmax(), 'Date']
highest_close_date(barc_df)

'2014-01-15'

In [23]:
def latest_close_price(df):
    return df.loc[df.index[-1], 'Close']
latest_close_price(barc_df)

165.94000244140625

In [24]:
def latest_close_date(df):
    return df.loc[df.index[-1], 'Date']
latest_close_date(barc_df)

'2019-03-15'

In [25]:
def highest_current_percentage(df):
    """
    Returns the percentage (2 d.p.) difference between
    the highest and current closing price
    """
    highest_close = df.loc[df['Close'].idxmax(), 'Close']
    current_close = df.loc[df.index[-1], 'Close']
    return round((current_close - highest_close) / current_close, 2) * 100

highest_current_percentage(barc_df)

-79.0

In [26]:
# Percentage difference between highest close and current close for all stocks
result = []

for file in stocks_csv_files:
    df = pd.read_csv(file)
    percentage = highest_current_percentage(df)
    code = file.rsplit('/')[-1].replace('.csv', '')
    result.append((percentage, code))

In [27]:
agg_df = pd.DataFrame(result, columns=['percentage', 'code'])

In [28]:
agg_df = agg_df.sort_values(by='percentage', ascending=False)

In [55]:
highest_close_price(barc_df)
latest_close_price(barc_df)
agg_df[(agg_df['percentage'] < -10) & (agg_df['percentage'] > -200)].sort_values(by='percentage')

     percentage    code
139      -186.0   CNA.L
148      -169.0   WMH.L
216      -166.0   IPO.L
50       -164.0  ESNT.L
159      -157.0   SGC.L
345      -157.0  ISAT.L
222      -154.0  PLUS.L
21       -150.0  FRES.L
314      -149.0  CTEC.L
68       -146.0   AGK.L
248      -141.0  PTEC.L
249      -140.0   BAB.L
56       -135.0   RMG.L
272      -129.0   SXX.L
28       -127.0   HFD.L
258      -126.0  BGEO.L
303      -125.0   WPP.L
146      -123.0   TUI.L
307      -122.0  BT-A.L
295      -122.0   SMT.L
254      -121.0   COB.L
197      -121.0   MKS.L
177      -118.0   DRX.L
268      -114.0   GVC.L
301      -112.0  STAN.L
237      -112.0   SLA.L
175      -111.0  GFRD.L
323      -109.0   CEY.L
316      -107.0   ITV.L
73       -107.0  CARD.L
..          ...     ...
10        -17.0  SYNC.L
12        -17.0   CSH.L
92        -17.0   OSB.L
72        -17.0  DNLM.L
321       -16.0  RHIM.L
19        -16.0   GRI.L
291       -16.0   BCA.L
346       -16.0   JMG.L
113       -15.0  TBCG.L
46        -15.0   JAM.L
76        -15.0  DJAN.L
155       -15.0    TW.L
187       -15.0   GSK.L
318       -15.0   RAT.L
201       -14.0  ATST.L
328       -14.0   DLG.L
97        -14.0   CBG.L
284       -14.0   BME.L
348       -14.0  BDEV.L
95        -13.0   CSP.L
2         -13.0   SVS.L
233       -13.0   IHP.L
41        -13.0   BBY.L
166       -13.0   WKP.L
15        -12.0  WTAN.L
267       -12.0   PCT.L
292       -11.0   BVS.L
100       -11.0  MGGT.L
144       -11.0   ICP.L
64        -11.0   SPT.L

[221 rows x 2 columns]

In [48]:
mslh_df = get_data('MSLH.L')
highest_close_price(mslh_df)

598.5

In [56]:
latest_close_price(mslh_df)

598.5

In [66]:
barc_df['MA_50'] = barc_df['Close'].rolling(window=50).mean()
barc_df['MA_200'] = barc_df['Close'].rolling(window=200).mean()

In [67]:
barc_df.head(30)

,Date,High,Low,Open,Close,Volume,Adj Close,MA_50,MA_200
0,2014-01-02,274.651001,268.350006,273.000000,271.049988,30563664.0,235.943085,NaN,NaN
1,2014-01-03,273.910004,270.399994,271.250000,272.850006,23678963.0,237.510010,NaN,NaN
2,2014-01-06,278.666992,271.200012,271.549988,277.500000,47008835.0,241.557693,NaN,NaN
3,2014-01-07,282.778015,275.000000,276.950012,280.950012,44374624.0,244.560913,NaN,NaN
4,2014-01-08,285.899994,281.250000,282.350006,283.700012,45068534.0,246.954666,NaN,NaN
5,2014-01-09,289.710999,282.477997,283.899994,284.399994,57522092.0,247.564011,NaN,NaN
6,2014-01-10,287.136993,282.199005,286.000000,283.600006,66050186.0,246.867661,NaN,NaN
7,2014-01-13,294.250000,286.500000,286.500000,291.700012,57764266.0,253.918503,NaN,NaN
8,2014-01-14,293.153992,286.149994,287.600006,291.750000,39872294.0,253.962021,NaN,NaN
9,2014-01-15,298.031006,292.350006,293.299988,296.500000,53319972.0,258.096802,NaN,NaN
10,2014-01-16,298.131989,287.399994,297.399994,290.450012,57678913.0,252.830444,NaN,NaN
11,2014-01-17,293.000000,286.500000,291.399994,288.600006,55284460.0,251.220032,NaN,NaN
12,2014-01-20,286.382996,282.200012,284.500000,282.799988,41065602.0,246.171249,NaN,NaN
13,2014-01-21,285.618988,279.932007,283.000000,280.600006,49783378.0,244.256195,NaN,NaN
14,2014-01-22,283.799988,277.493988,281.600006,278.200012,39777422.0,242.167068,NaN,NaN
15,2014-01-23,284.549011,277.210999,278.000000,278.899994,45229210.0,242.776428,NaN,NaN
16,2014-01-24,280.885986,270.838989,279.299988,272.250000,69520979.0,236.987717,NaN,NaN
17,2014-01-27,275.726990,268.044006,272.000000,269.350006,48145653.0,234.463303,NaN,NaN
18,2014-01-28,274.644989,270.075012,271.950012,273.299988,36437032.0,237.901672,NaN,NaN
19,2014-01-29,284.799988,268.799988,281.950012,274.950012,87001052.0,239.337997,NaN,NaN
20,2014-01-30,275.899994,271.600006,275.000000,275.049988,35619563.0,239.425003,NaN,NaN
21,2014-01-31,274.399994,267.549988,274.350006,272.500000,49273966.0,237.205276,NaN,NaN
22,2014-02-03,272.964996,265.049988,270.850006,265.700012,44833380.0,231.286057,NaN,NaN
23,2014-02-04,268.100006,263.000000,264.350006,264.549988,45437421.0,230.285004,NaN,NaN
24,2014-02-05,268.092010,261.049988,263.350006,264.950012,36873210.0,230.633179,NaN,NaN
25,2014-02-06,271.149994,265.049988,266.899994,269.950012,44691998.0,234.985611,NaN,NaN
26,2014-02-07,273.450012,269.500000,271.450012,271.700012,39727546.0,236.508942,NaN,NaN
27,2014-02-10,277.369995,271.399994,272.799988,275.000000,51686518.0,239.381531,NaN,NaN
28,2014-02-11,278.000000,255.500000,276.950012,264.700012,162028681.0,230.415588,NaN,NaN
29,2014-02-12,271.515991,259.750000,264.700012,260.450012,58225865.0,226.716034,NaN,NaN

In [30]:
agg_df.to_csv('./data_aggregated/highest_close_percentage.csv')