## Defensive Investment Strategy
Investing into Indexes is a lower risk investment strategy than indivually picking out stocks. The benchmark to beat market returns is hard for even professional investors and many fund managers make worse than average returns. 

As a defensive investor, instead of speculating the market and trying to pick out invidual stocks, its better to invest into an index fund and get the average market return. However, instead of setting up a regular payment to invest into a fund, what if we could take advantage of trading an index fund? Or better yet, if we could also take advantage of daily price movements of indexes.

The index ETFs might be one way to do this, as they allow investors to place limit orders on major indexes such as FTSE 100, S&P 500 etc. We need a strategy to take advantage of price swings on indexs.


### Quest to find an optimum strategy to invest £25,000 a year into index tracking ETFs

Stocks and Shares ISA account allows £20,000 and 
Lifetime ISA allows £4,000 (+£1,000 government bonus) to be invested annually
tax free. This gives us a total of £25,000 to be invested tax free.

The goal is to use **pound cost averaging** strategy alongside another strategy to
get the same or higher returns than the FTSE 100 average return. If these strategies work,
then they can be extended to other indexes like S&P 500 etc. to diversify the portfolio.

The idea is to invest 10-20 times a year, at the right time, in index tracking
ETF's, as well as take advantage of daily price swings, then we can at the **minimum** keep 
up with the average market return.


**Benchmark:**
Our benchmark is investing into index funds once a month on a random day e.g. 
28th of every month in FTSE 100.


#### The main challenge
The hard part of this strategy is to beat the benchmark despite the higher dealing charges and fees of trading ETFs. Low cost index fund for FTSE 100 have an ongoing annual charge of 0.06% with £0 cost to buy or sell. On the other hand, investing into ETF's cost £10 (AJBell) to buy and £10 to sell, as well as an ongoing annual charge of 
0.07%. This means that our trading strategy needs to give us atleast slightly better return to cover the dealing cost,
otherwise, we might do slightly worse than the market.


#### Summary

- Invest £1,250 to £2,500 per trade.
- Invest 10-20 throughout the year (pound cost averaging).
- Predict the price movement of FTSE 100 continously and invest once every 20-60 day period.
- Come up with a strategy to take advantage of daily price movements.
- Find a strategy to sell (not urgent as we're investing for mid/long term).

## FTSE 100 - EDA

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('../data/raw/download.csv')

### Cleaning up data

In [6]:
sheet = '{}{}{}'.format('https://docs.google.com/spreadsheets/d/',
                        '10cihRP6XxJOSrWsASfW5C7VeHufD32TS0JKCXLoWhL8',
                        '/export?gid=0&format=csv')

In [7]:
df = pd.read_csv(sheet, index_col=0)

In [9]:
df.head(2)

                     Unnamed: 1    High     Low   Close  Volume
Date
02/01/1990 16:30:00      2442.4  2443.3  2425.5  2434.1       0
03/01/1990 16:30:00      2451.3  2466.2  2445.8  2463.7       0

In [10]:
df = df.rename(columns={'Unnamed: 1': 'Open'})

In [11]:
df.tail(2)

                        Open     High      Low    Close  Volume
Date
18/03/2020 16:30:00  5294.90  5294.90  5006.20  5080.58       0
19/03/2020 16:30:00  5080.58  5181.04  4942.37  5151.61       0

### Days with the highest difference between high and low price (%)

In [15]:
df['high_low_diff'] = round(((df['High'] - df['Low'])/df['Low']) * 100, 2)
df.sort_values(by='high_low_diff', ascending=False).head(5)

,Open,High,Low,Close,Volume,high_low_diff,open_close_diff
Date,,,,,,,
12/03/2020 16:30:00,5876.52,5876.52,5237.48,5237.48,0,12.20,-10.87
10/10/2008 16:30:00,4313.80,4313.80,3873.99,3932.06,0,11.35,-8.85
19/09/2008 16:30:00,4880.00,5351.20,4857.10,5311.30,0,10.17,8.84
24/10/2008 16:30:00,4087.83,4087.83,3715.24,3883.36,0,10.03,-5.00
24/11/2008 16:30:00,3780.96,4153.08,3780.96,4152.96,0,9.84,9.84

In [18]:
p = 'Mean difference between high and low over the last 20 year: {}%'.format(df['high_low_diff'].mean().round(2))
print(p)

Mean difference between high and low over the last 20 year: 1.28%

### Days with the highest difference between Open and Close Price (%)

In [24]:
df['open_close_diff'] = round(((df['Close'] - df['Open'])/df['Open']) * 100, 2)

#### Biggest decrease between open and close

In [25]:
df.sort_values(by='open_close_diff', ascending=True).head(5)

,Open,High,Low,Close,Volume,high_low_diff,open_close_diff
Date,,,,,,,
12/03/2020 16:30:00,5876.52,5876.52,5237.48,5237.48,0,12.20,-10.87
10/10/2008 16:30:00,4313.80,4313.80,3873.99,3932.06,0,11.35,-8.85
06/10/2008 16:30:00,4980.25,4980.25,4549.66,4589.19,0,9.46,-7.85
09/03/2020 16:30:00,6462.55,6462.55,5891.56,5965.77,0,9.69,-7.69
11/09/2001 16:30:00,5033.70,5129.00,4746.00,4746.00,0,8.07,-5.72

#### Biggest increase between open and close

In [23]:
df.sort_values(by='open_close_diff', ascending=True).tail(5)

,Open,High,Low,Close,Volume,high_low_diff,open_close_diff
Date,,,,,,,
13/03/2003 16:30:00,3287.00,3489.10,3287.00,3486.90,0,6.15,6.08
29/10/2008 16:30:00,3926.38,4242.54,3926.38,4242.54,0,8.05,8.05
13/10/2008 16:30:00,3932.06,4256.90,3932.06,4256.90,0,8.26,8.26
19/09/2008 16:30:00,4880.00,5351.20,4857.10,5311.30,0,10.17,8.84
24/11/2008 16:30:00,3780.96,4153.08,3780.96,4152.96,0,9.84,9.84

In [37]:
25000/10

2500.0

In [28]:
24000/12

2000.0