## FTSE 100 - EDA

In [2]:
import numpy as np
import pandas as pd

import plotly.graph_objects as go

import utils

import plotly.io as pio
pio.renderers.default = "notebook"

In [3]:
pio.renderers

Renderers configuration
-----------------------
    Default renderer: 'notebook'
    Available renderers:
        ['plotly_mimetype', 'jupyterlab', 'nteract', 'vscode',
         'notebook', 'notebook_connected', 'kaggle', 'azure', 'colab',
         'cocalc', 'databricks', 'json', 'png', 'jpeg', 'jpg', 'svg',
         'pdf', 'browser', 'firefox', 'chrome', 'chromium', 'iframe',
         'iframe_connected', 'sphinx_gallery']

In [4]:
BASE_URL = 'https://docs.google.com/spreadsheets/d/10cihRP6XxJOSrWsASfW5C7VeHufD32TS0JKCXLoWhL8/export?format=csv&{}'

UKX_sheet = BASE_URL.format('gid=134530274')

ISF_sheet = BASE_URL.format('gid=1374752918')

### Read data and add new columns

In [5]:
# Read data
df = pd.read_csv(UKX_sheet)

# Rename columns
df = df.rename(columns={'Unnamed: 1': 'Open'})

# Convert to datetime
df['Date'] = pd.to_datetime(df['Date'].str[:10], format="%d/%m/%Y")

# Get datetime related fields
df['month'] = df['Date'].dt.month_name()
df['year'] = df['Date'].dt.year
df['dat_name'] = df['Date'].dt.day_name()
df['weekofyear'] = df['Date'].dt.weekofyear
df['is_quarter_end'] = df['Date'].dt.is_quarter_end
df['is_quarter_start'] = df['Date'].dt.is_quarter_start
df['quarter'] = df['Date'].dt.quarter
df['avg'] = round((df['High'] + df['Low']) / 2, 2) # $\frac{high + low}{2}$

### Strategy 1
https://www.youtube.com/watch?v=aaWLM60KxGg

- Yesterday must have been down by atleast 0.25%
- If open is down by 0.1% today, go long and exit on the close

In [37]:

df['cc'] = df['Close'].pct_change()
df['co'] = (df['Open']/df['Close'].shift(1) - 1) * 100
df['oc'] = (df['Close']/df['Open'] - 1) * 100

In [38]:
df.head(2)

,Date,Open,High,Low,Close,Volume,month,year,dat_name,weekofyear,is_quarter_end,is_quarter_start,quarter,avg,cc,co,oc
1,1990-01-02,2442.4,2443.3,2425.5,2434.1,0,January,1990,Tuesday,1,False,False,1,2434.4,NaN,NaN,-0.339830
2,1990-01-03,2451.3,2466.2,2445.8,2463.7,0,January,1990,Wednesday,1,False,False,1,2456.0,0.012161,0.706627,0.505854

In [ ]:
# !jupyter nbconvert --to notebook --execute FTSE\ 100\ -\ EDA.ipynb