In [18]:
import os

import numpy as np
import pandas as pd

In [19]:
data_dir = './data_stocks'
stocks_csv_files = [os.path.join(data_dir, x) for x in os.listdir(data_dir) if x.endswith('.L.csv')]
BARC = os.path.join(data_dir, 'BARC.L.csv')
barc_df = pd.read_csv(BARC)

In [20]:
barc_df.head()

,Date,High,Low,Open,Close,Volume,Adj Close
0,2014-01-02,274.651001,268.350006,273.000000,271.049988,30563664.0,235.943085
1,2014-01-03,273.910004,270.399994,271.250000,272.850006,23678963.0,237.510010
2,2014-01-06,278.666992,271.200012,271.549988,277.500000,47008835.0,241.557693
3,2014-01-07,282.778015,275.000000,276.950012,280.950012,44374624.0,244.560913
4,2014-01-08,285.899994,281.250000,282.350006,283.700012,45068534.0,246.954666

In [41]:
def get_data(code):
    return pd.read_csv(data_dir + '/' + code + '.csv')

In [21]:
def highest_close_price(df):
    return df.loc[df['Close'].idxmax(), 'Close']
highest_close_price(barc_df)

296.5

In [22]:
def highest_close_date(df):
    return df.loc[df['Close'].idxmax(), 'Date']
highest_close_date(barc_df)

'2014-01-15'

In [23]:
def latest_close_price(df):
    return df.loc[df.index[-1], 'Close']
latest_close_price(barc_df)

165.94000244140625

In [24]:
def latest_close_date(df):
    return df.loc[df.index[-1], 'Date']
latest_close_date(barc_df)

'2019-03-15'

In [25]:
def highest_current_percentage(df):
    """
    Returns the percentage (2 d.p.) difference between
    the highest and current closing price
    """
    highest_close = df.loc[df['Close'].idxmax(), 'Close']
    current_close = df.loc[df.index[-1], 'Close']
    return round((current_close - highest_close) / current_close, 2) * 100

highest_current_percentage(barc_df)

-79.0

In [26]:
# Percentage difference between highest close and current close for all stocks
result = []

for file in stocks_csv_files:
    df = pd.read_csv(file)
    percentage = highest_current_percentage(df)
    code = file.rsplit('/')[-1].replace('.csv', '')
    result.append((percentage, code))

In [27]:
agg_df = pd.DataFrame(result, columns=['percentage', 'code'])

In [28]:
agg_df = agg_df.sort_values(by='percentage', ascending=False)

In [55]:
highest_close_price(barc_df)
latest_close_price(barc_df)
agg_df[(agg_df['percentage'] < -10) & (agg_df['percentage'] > -200)].sort_values(by='percentage')

     percentage    code
139      -186.0   CNA.L
148      -169.0   WMH.L
216      -166.0   IPO.L
50       -164.0  ESNT.L
159      -157.0   SGC.L
345      -157.0  ISAT.L
222      -154.0  PLUS.L
21       -150.0  FRES.L
314      -149.0  CTEC.L
68       -146.0   AGK.L
248      -141.0  PTEC.L
249      -140.0   BAB.L
56       -135.0   RMG.L
272      -129.0   SXX.L
28       -127.0   HFD.L
258      -126.0  BGEO.L
303      -125.0   WPP.L
146      -123.0   TUI.L
307      -122.0  BT-A.L
295      -122.0   SMT.L
254      -121.0   COB.L
197      -121.0   MKS.L
177      -118.0   DRX.L
268      -114.0   GVC.L
301      -112.0  STAN.L
237      -112.0   SLA.L
175      -111.0  GFRD.L
323      -109.0   CEY.L
316      -107.0   ITV.L
73       -107.0  CARD.L
..          ...     ...
10        -17.0  SYNC.L
12        -17.0   CSH.L
92        -17.0   OSB.L
72        -17.0  DNLM.L
321       -16.0  RHIM.L
19        -16.0   GRI.L
291       -16.0   BCA.L
346       -16.0   JMG.L
113       -15.0  TBCG.L
46        -15.0   JAM.L
76        -15.0  DJAN.L
155       -15.0    TW.L
187       -15.0   GSK.L
318       -15.0   RAT.L
201       -14.0  ATST.L
328       -14.0   DLG.L
97        -14.0   CBG.L
284       -14.0   BME.L
348       -14.0  BDEV.L
95        -13.0   CSP.L
2         -13.0   SVS.L
233       -13.0   IHP.L
41        -13.0   BBY.L
166       -13.0   WKP.L
15        -12.0  WTAN.L
267       -12.0   PCT.L
292       -11.0   BVS.L
100       -11.0  MGGT.L
144       -11.0   ICP.L
64        -11.0   SPT.L

[221 rows x 2 columns]

In [48]:
mslh_df = get_data('MSLH.L')
highest_close_price(mslh_df)

598.5

In [56]:
latest_close_price(mslh_df)

598.5

In [59]:
barc_df['MA 20']barc_df['Close'].rolling(window=20).mean()

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
5              NaN
6              NaN
7              NaN
8              NaN
9              NaN
10             NaN
11             NaN
12             NaN
13             NaN
14             NaN
15             NaN
16             NaN
17             NaN
18             NaN
19      281.170003
20      281.370003
21      281.352502
22      280.762503
23      279.942502
24      279.005002
25      278.282503
26      277.687503
27      276.852502
28      275.500003
29      273.697504
           ...
1287    160.641000
1288    160.801000
1289    161.039000
1290    160.893000
1291    160.829000
1292    160.715000
1293    160.663000
1294    160.494000
1295    160.323000
1296    160.005000
1297    159.663000
1298    159.450000
1299    159.351000
1300    159.257000
1301    158.859000
1302    158.816000
1303    158.995999
1304    159.248999
1305    159.548000
1306    159.742000
1307    160.009000
1308    160.211000
1309    160.398000
1310    160.691000
1311    160.833000
1312    161.041000
1313    161.281001
1314    161.575000
1315    161.975999
1316    162.298000
Name: Close, Length: 1317, dtype: float64

In [60]:
barc_df.shape

(1317, 7)

In [30]:
agg_df.to_csv('./data_aggregated/highest_close_percentage.csv')